.about{
    width: 100%;
    background-color: #fff;
    padding: 1rem 1.5rem;
    .about__container{
        .about__title{
            @include styleText($fs-7,$title-color,$fw-3);
        }
        .careerObjective{
            padding-top: 1rem;
            transition: all 0.5s;
            @include styleText($fs-6,$title-color,$fw-2);
            span{
                @include styleText($fs-4,$title-color,$fw-1);
            }
        }
        .careerObjective.fade{
            animation: fade 1.5s forwards 0s 1 normal;
        }
        .about__content{
            padding-top: 5rem;
            display: flex;
            .about__contentLeft{
                width: 40%;
                align-items: center;
                .about__pic{
                    margin: 0 auto;
                    width: 30rem;
                    height: 30rem;
                    background-color: black;
                    border-radius: $br-1;
                    overflow: hidden;
                    position: relative;
                    img{
                        position: absolute;
                        top: -23rem;
                        width: 100%;
                        border-radius: $br-1;
                    }
                }
                .about__pic.animationLeft{
                    animation: fadeInLeft 1.5s forwards 0s 1 normal;
                }
            }
            .about__contentRight{
                width: 60%;
                padding: 0 1rem;
                .about__infoContainer{
                    .about__infoTitle{
                        @include styleText($fs-6,$title-color,$fw-2);
                        text-align: center;
                    }
                    .about__info{
                        @include styleText($fs-4,$title-color,$fw-2);
                        margin-bottom: 3rem;
                        .about__infoIcon{
                            font-size: $fs-3;
                            margin-right: 0.5rem;
                        }
                        .about__infoText{
                            margin-left: 0.5rem;
                            @include styleText($fs-3,$resume-schoolName-color,$fw-1);
                        }
                    }
                }
                .about__infoContainer.animationRight{
                    animation: fadeInRight 1.5s forwards 0s 1 normal;
                }
            }
        }
    }
}

.animationUnderline{
    content: "";
    display: block;
    width: 0;
    height: 0.5rem;
    background-color: $title-color;
    animation: title 1.5s forwards 0s 1 normal;
}

@keyframes fadeInLeft{
    0%{
        transform: translateX(-10rem);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInRight{
    0%{
        transform: translateX(10rem);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes title{
    0%{
        transform: translateX(-1rem);
        width: 0;
    }
    100%{
        transform: translateX(0);
        width: 100%;
    }
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}