.main__content{
    display: block;
    height: 100%;
    right: 0;
    .btn-back-to-top img{
        position: fixed;
        bottom: 5%;
        right: 1.5rem;
        z-index: 3;
    }
    .hide{
        opacity: 0;
    }
}
.introduce{
    width: 100%;
    background-image: url(./../Asset/img/test.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .introduce__container{
        height: 100%;
        position: relative;
        .introduce__overlay{
            background-color: $bg-main;
            opacity: 0.3;
            height: 100%;
        }
        .introduce__text{
            position: absolute;
            top: 20%;
            @include styleText(4.5rem,$text-base-color,$fw-2);
            animation: Heading 1.5s forwards 0.5s 1 normal;
            z-index: 2;
            opacity: 0;
            transition: ease-in-out 0.3s;
        }
        .introduce__summary{
            position: absolute;
            width: 50%;
            left: 7%;
            @include styleText($fs-5,$text-base-color,$fw-2);
            animation: Summary 1.5s forwards 0.5s 1 normal;
            opacity: 0;
            transition: ease-in-out 0.3s;
            p{
                margin-bottom: 0;
            }
        }
    }
}